/*
   style.css
   This is just an experiment to see how to reference stylesheets from Giraffe
*/


/* S4 does not use a fixed with font for Floc codes, even though
  length is significant. */
html {
  font-size: 22px;
  font-family: Helvetica, Arial, freesans, sans-serif;
}

#commonName {
  font-size: 16px;
  font-family: Helvetica, Arial, freesans, sans-serif;
}

table {
  border: 1px solid rgb(196, 193, 193);
  border-collapse: collapse;
  width: 90%;
}

th {
  border: 1px solid rgb(196, 193, 193);
  text-align: left;
  font-size: 22px;
  font-weight: normal;
  font-family: Helvetica, Arial, freesans, sans-serif;
  padding-left: 6px;
}

tr {
  /* border: 1px solid rgb(196, 193, 193); */
  background: #ffffcc
}

td {
  border: 1px solid rgb(196, 193, 193);
  padding-left: 6px;
}

tr.even {
  background: #ffffff;
}

tr.explanation {
  background: #ffffff;
  font-size: 12px;
  font-family: Helvetica, Arial, freesans, sans-serif;
}


fieldset {
  border: 1px solid rgb(196, 193, 193);
  background: #f8f8f8;
}

label { 
  display: block;
}
