/*
   style.css
   This is just an experiment to see how to reference stylesheets from Giraffe
*/

html { 
  font-size: 32px; 
  font-family: Helvetica, Arial, freesans, sans-serif;
}

#commonname {
  font-size: 16px;
  font-family: Helvetica, Arial, freesans, sans-serif;
  border-width: 2px;
  border-style: solid;
  border-color: lightblue;
}